
*{margin:0;
padding:0;
	font-family:Century Gothic;}
p{color:white;}
header
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/2020_05_14_15_21_IMG_7256.JPEG);
	height:100vh;
	background-size:cover;
	background-position:center;
}
nav{
background:#0082e6;
	height:80px;width:100px;
}
 nav ul
{
	float:right;
	margin-right:60px;	
}
 nav ul li{
	display:inline-block;
	 line-height:80px;
	 margin:0 5px;
}
 nav ul li a{
	text-decoration:none;
	color:#000;
	 font-size:17px;
	padding:5px 20px;
	border:1px solid #fff;
	transition:0.6s ease;
	 text-transform:uppercase;
}
 nav ul li a:hover{
	background-color:#fff;
	color:#000;
}
nav ul li.active a{
	background-color:#fff;
	color:#000;

	
}
.checkbtn{
font-size:30px;
clolor:white;
float:right;
line-height:80px;
cursor:pointer;
display:none;
}
#check
{display:none;}
@media(max-width:952px)
nav ul li a{
	font-size:16px;
	}
}

