body
{
	font-family:sans-serif;
	color:#50f4dc;
	background-color:black;
	
}
.home-div{
    right: 25px;
    top: 20px;
    position: absolute;
    z-index: 2;
 }

.profile-info
{
	width:550px;
	margin:auto;
	background:black;
	box-shadow:0 4px 10px 0 rgba(81, 247, 236);
}
.image-container
{
	
	position:relative;
}
.info
{
	width:500px;
	color:#50f4dc;
	margin:center;
}
.main-container
{
	margin:center;
	width:500px;
	padding:20px;
}
.skill-bar
{
	width:500px;
	background-color:#bdc9ea;
	border-radius:16px;
}
.progress-bar{
	width:500px;
	padding:0.1cm 16px;
	border-radius:16px;
	text-align:center;
	color:#fff;
	background-color:#4b4fe2;
}
.title
{
	position:absolute;
	left:15px;
	bottom:0;
}